body
{
    color:steelblue;
  text-align: center;
  font-family: Arial;
  font-size: 18px;
  margin: 0;
  padding: 0;
}
#container
{
    width: 70%;
    padding: 20px;
    text-align:left;
    border: 50px solid yellow;
    margin: 0 auto;
}

#container h1
{
    font-size: 50px;
}